.why-section{

padding:120px 0;

background:linear-gradient(
180deg,
#F8FAFC,
#EEF5FF
);

}

.why-card{

background:white;

padding:35px;

border-radius:22px;

height:100%;

transition:.35s;

box-shadow:0 10px 30px rgba(0,0,0,.05);

}

.why-card:hover{

transform:translateY(-12px);

box-shadow:0 20px 45px rgba(37,99,235,.12);

}

.why-icon{

width:80px;

height:80px;

border-radius:20px;

background:linear-gradient(
135deg,
#2563EB,
#14B8A6
);

display:flex;

justify-content:center;

align-items:center;

font-size:34px;

color:white;

margin-bottom:25px;

}

.why-card h4{

font-weight:700;

margin-bottom:15px;

color:#0F172A;

}

.why-card p{

color:#64748B;

line-height:1.8;

}